<ion-header>
  <ion-navbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p>Saved palettes:</p>
  <ion-list *ngIf="saved">
    <ion-list-header>Gallery</ion-list-header>
    <ion-item *ngFor="let palette of saved">
      <ion-icon name="color-palette" item-start></ion-icon>
      Palette based on {{palette[0]}}:
      <div *ngFor="let color of palette">
        <code>color:</code> {{color}} <div [style.background-color]="color" class="smallbox"></div>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
