<ion-header>
  <ion-navbar>
    <ion-title>Create</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Color the World!</h2>
  <p>
    Pick a color; save a collection of related colors.
  </p>
  <color-picker (onColorChange)="handleColorChange($event)"></color-picker>
  <p>Your chosen color: <code>{{currentColor}}</code></p>
  <p>HSV: <code *ngIf="hsvColor">{{hsvColor[0]}} {{hsvColor[1]}} {{hsvColor[2]}}</code></p>
  <button ion-button (click)="saveColors()">Save Colors</button>
  <p>Hue variants:</p>
  <div *ngFor="let color of variants">
    <code>color:</code> {{color}} <div [style.background-color]="color" class="smallbox"></div>
  </div>


</ion-content>
